<a href="https://www.kaggle.com/code/abdelhakmekaoui/notebook7a6f5ed476?scriptVersionId=117218546" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/store-sales-time-series-forecasting/oil.csv
/kaggle/input/store-sales-time-series-forecasting/sample_submission.csv
/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv
/kaggle/input/store-sales-time-series-forecasting/stores.csv
/kaggle/input/store-sales-time-series-forecasting/train.csv
/kaggle/input/store-sales-time-series-forecasting/test.csv
/kaggle/input/store-sales-time-series-forecasting/transactions.csv

# Importing datasets

In [54]:
train_data = pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/train.csv")
test_data =  pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/test.csv")
sample_submission = pd.read_csv("/kaggle/input/store-sales-time-series-forecasting/sample_submission.csv")

In [55]:
train_data.describe()

                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

In [56]:
train_data.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [57]:
y_train = train_data.iloc[:,-2].values
y_test = sample_submission.iloc[:,-1].values
train_data = train_data.drop(columns=['id','sales'])
test_data = test_data.drop(columns=['id'])

In [58]:
train_data.head()

         date  store_nbr      family  onpromotion
0  2013-01-01          1  AUTOMOTIVE            0
1  2013-01-01          1   BABY CARE            0
2  2013-01-01          1      BEAUTY            0
3  2013-01-01          1   BEVERAGES            0
4  2013-01-01          1       BOOKS            0

In [59]:
X_train = train_data.iloc[:,:].values
X_test = test_data.iloc[:,:].values

# Handling missing values

In [60]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
si.fit(X_train[:,:])
X_train[:,:]=si.transform(X_train[:,:])
si.fit(X_test[:,:])
X_test[:,:]=si.transform(X_test[:,:])

In [61]:
print(X_train[:5,:])

[['2013-01-01' 1 'AUTOMOTIVE' 0]
 ['2013-01-01' 1 'BABY CARE' 0]
 ['2013-01-01' 1 'BEAUTY' 0]
 ['2013-01-01' 1 'BEVERAGES' 0]
 ['2013-01-01' 1 'BOOKS' 0]]

# Encoding & Scaling

In [62]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
ct = ColumnTransformer(transformers=[('one_hot_encoder', OneHotEncoder(handle_unknown='ignore', sparse=False),[0,2])
                                    ,('standardscaler',StandardScaler(),[1,3])],
                            remainder='passthrough')
sc = StandardScaler()

In [ ]:
#X_train = np.array(ct.fit_transform(X_train))
#X_test = np.array(ct.fit_transform(X_test))
#y_train = sc.fit_transform(y_train.reshape(-1, 1))
#y_test = sc.fit_transform(y_test.reshape(-1, 1))

In [ ]:
#print(X_train[:5,:])